# Object file
*.o

# Ada Library Information
*.ali


.idea
target

*.log
*.dat
jdk8.tar.gz

nacos1/*
nacos2/*
nacos3/*

Advanced/lib/day2/nacos-cluster/**
Advanced/lib/day2/custom-alpine/**
Advanced/lib/day2/custom-docker/**
Advanced/lib/day2/local-docker/**
Advanced/lib/day2/cloud-demo/mysql
Advanced/lib/day2/cloud-demo/**/*.jar
Advanced/lib/day9/tmp/**

.mvn

es-docker

AdminLTE-3.2.0

sentinel-dashboard-1.8.6.jar
sentinel-dashboard-nacos.jar
Sentinel-1.8.6
Sentinel-1.8.6.zip
seata-server-1.4.2
seata-server-1.4.2.zip



