<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Title</title>
</head>
<body>

<form action="login" method="post">
    <div>
        <label>账号：</label>
        <input name="username">
    </div>
    <div>
        <label>密码：</label>
        <input type="password" name="password">
    </div>
    <div>
        <label><input type="checkbox" name="remember-me">记住我</label>
    </div>
    <div>
        <input type="submit" value="登录">
    </div>
</form>
</body>
</html>