<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.BlogMapper">
	<resultMap id="blogResultMap" type="org.example.vo.Blog">
	</resultMap>
	<select id="selectByDbid" resultMap="blogResultMap">
		select * from blog where dbid=#{dbid}
	</select>
	<select id="list" resultMap="blogResultMap">
	    select * from blog
	</select>
</mapper>